<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"> </ion-title>

      <!---------------LOGO------------------->
      <ion-img src="https://i.postimg.cc/6Q9btk9j/logo.png"></ion-img>
    </ion-toolbar>
  </ion-header>

  <form>
    <ion-item lines="full"
      ><ion-input
        label="E-mail*"
        labelPlacement="stacked"
        placeholder="exemplo@exemplo.com*"
        
        name="email"
      ></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-input
        label="Senha*"
        labelPlacement="stacked"
        placeholder="Senha*"
        type="password"
        
        name="password"
      ></ion-input>
    </ion-item>
    <div class="ion-text-center">Não tem uma conta? <a>Inscreva-se</a></div>

    <ion-row>
      <ion-col>
        <ion-button type="submit" expand="block">Logar</ion-button>
      </ion-col>
    </ion-row>
  </form>
  <br />
  <div class="ion-text-center">
    <a>Esqueceu sua senha?</a>
  </div>

  <div class="ion-text-center">
    <ion-text color=""
      ><sub>
        © 2023 - Aplicativo desenvolvido por
        <ion-text color="light">Grupo A</ion-text>. <br />Todos os direitos
        reservados
      </sub></ion-text
    >
  </div>
</ion-content>
