.ion-card-div {
  margin: 0 !important;
  border-radius: 0%;
}

ion-button {
  --background: #B2A6CD;
  --background-activated: #8678A7;
  --border-radius: 7px;

}

ion-card-header {
  --background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='450' height='140' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1002%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%26quot%3b%23SvgjsLinearGradient1003%26quot%3b)'%3e%3c/rect%3e%3cpath d='M 0%2c128 C 57.6%2c154.2 172.8%2c264.8 288%2c259 C 403.2%2c253.2 460.8%2c116.4 576%2c99 C 691.2%2c81.6 748.8%2c179.6 864%2c172 C 979.2%2c164.4 1036.8%2c64.6 1152%2c61 C 1267.2%2c57.4 1382.4%2c135.4 1440%2c154L1440 560L0 560z' fill='rgba(178%2c 166%2c 205%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c381 C 96%2c401.4 288%2c479.6 480%2c483 C 672%2c486.4 768%2c392.4 960%2c398 C 1152%2c403.6 1344%2c488.4 1440%2c511L1440 560L0 560z' fill='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1002'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='15.28%25' y1='-39.29%25' x2='84.72%25' y2='139.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1003'%3e%3cstop stop-color='rgba(178%2c 166%2c 205%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(255%2c 255%2c 255%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}
