<!-- Div retangular -->
<div class="rectangular-div">Psicologos Parceiros</div>

<ion-content>
  
    <ion-card-content>
      <ion-list lines="none">
        <div class="profile" *ngFor="let item of items; let index">
          <img
            src="https://avatars.githubusercontent.com/u/102095323?v=4"
            alt="Profile Picture"
          />
          <h2>Lysianne Moura da Frota</h2>
          <p>Psicóloga</p>
          <p>CRP: 05/12008</p>
          <p>Preço: R$30</p>

          <div class="basic">
            <p>Angústia</p>
            <p>Autoconhecimento</p>
            <p>Relacionamentos</p>
          </div>
          <div
            class="specialties"
            [style.display]="showSpecialties ? 'block' : 'none'"
          >
            <!-- Outras especialidades aqui -->
            <p>Especialidade 1</p>
            <p>Especialidade 2</p>
          </div>
          <button (click)="toggleSpecialties()">
            Mostrar mais especialidades
          </button>
        </div>

        
      </ion-list>
    </ion-card-content></ion-content>
